# Exercise: Descriptive Statistics

### Solve the following with `pandas` one-liners

**1. read `gapminder_lifeexpectancy.xlsx`**

In [14]:
import pandas as pd
life = pd.read_excel('data/gapminder_lifeexpectancy.xlsx', index_col=0)
#fert = pd.read_csv('data/gapminder_total_fertility.csv', index_col=0)
#popu = pd.read_excel('data/gapminder_population.xlsx', index_col = 0)

**2. show the first 3 rows**

In [15]:
life.head(3)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.2,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**3. filter out all years but 1960 and missing values**

In [16]:
life = life[1960].dropna()

**4. calculate the mean life expectancy**

In [4]:
life.mean()

54.73282178217821

**5. calculate the median**

In [5]:
life.median()

56.185

**6. calculate the standard deviation**

In [6]:
life.std()

11.689637178760742

**7. calculate the variance**

In [7]:
life.var()

136.64761737106542

**8. find the highest life expectancy**

In [8]:
life.max()

74.22

**9. find the lowest life expectancy**

In [9]:
life.min()

29.61

**10. find the 90% quantile**

In [17]:
life.quantile(0.9)

69.707

**11. store the number of data points in a variable**

In [25]:
num_dp = life.value_counts()

**12. calculate min, max, mean and range (and possibly other descriptors) with a single line**

In [ ]:
life.describe()