### Task: 

Calculate the average rating for each movie in the dataset - done

Filter out movies that have been watched by less than 20 users - done

Recommend the top ten movies that a user has not seen yet

Write a function recommend_popular(query, ratings, k=10) that gets a user query of rated movie-ids and the ratings table as input. It returns a list of k movie-ids.

The user query is a python dictionary that looks like this: {12: 5, 234: 1, 234: 4.5}.

In [23]:
import numpy as np
from sklearn.decomposition import NMF 
import pandas as pd

## Load and check the data

In [24]:
movies= pd.read_csv('ml-latest-small/movies.csv' , sep = ',')
ratings= pd.read_csv('ml-latest-small/ratings.csv' , sep = ',')
links = pd.read_csv('ml-latest-small/links.csv' , sep = ',')
tags = pd.read_csv('ml-latest-small/tags.csv' , sep = ',')

In [25]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [27]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [28]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

### working with df

In [29]:
# calculate the number of ratings per movie
rating_count = ratings.groupby('movieId')[['rating']].count()

In [30]:
# filter for movies with more than 20 ratings and extract the index
popular_movies = rating_count[rating_count['rating']>20].index

In [31]:
av_rating = ratings.groupby('movieId')[['rating']].mean()

In [32]:
# filter the ratings matrix and only keep the popular movies
df = ratings[ratings['movieId'].isin(popular_movies)].copy()

In [33]:
# remake user ids since they are not sequential
user_ids = df['userId'].unique()
user_id_map = {v:k for k,v in enumerate(user_ids)}
df['userId'] = df['userId'].map(user_id_map)

In [34]:
# remake movie ids since they are not sequential
movie_ids = df['movieId'].unique()
movie_id_map = {v:k for k,v in enumerate(movie_ids)}
df['movieId'] = df['movieId'].map(movie_id_map)

In [35]:
df

        userId  movieId  rating   timestamp
0            0        0     4.0   964982703
1            0        1     4.0   964981247
2            0        2     4.0   964982224
3            0        3     5.0   964983815
4            0        4     5.0   964982931
...        ...      ...     ...         ...
100803     609      808     4.0  1493847175
100808     609      643     4.0  1493846503
100829     609      809     5.0  1493845631
100830     609      644     4.0  1493879365
100834     609      810     5.0  1493846352

[66658 rows x 4 columns]

In [ ]:
# Initialize a sparse user-item rating matrix
from scipy.sparse import csr_matrix
# (data, (row_ind, col_ind) 
R = csr_matrix((df['rating'], (df['userId'], df['movieId'])))

In [ ]:
R.shape

(610, 1235)

In [ ]:
R = R.todense()

In [ ]:
df_R = pd.DataFrame(R)
df_R

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,3.0,4.5,4.0,0.0,3.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,2.5,2.0,0.0,4.5,4.5,3.0,0.0,4.0,0.0,3.0,...,0.0,0.5,0.0,0.0,4.5,0.0,2.5,1.0,1.5,0.0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,5.0,0.0,5.0,5.0,4.0,4.0,0.0,4.5,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,2.5,3.0,0.0,0.0

## NMF MODEL

In [54]:
## Calculate Q matrix
nmf_model = NMF(n_components=2000, max_iter=300, tol = 0.0001, verbose = 2)

In [55]:
nmf_model.fit(R)

/Users/elizavetabugaeva/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
/Users/elizavetabugaeva/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

violation: 1.0
violation: 0.15501531749852895
violation: 0.0478985326191118
violation: 0.021157972936216844
violation: 0.010980530002105344
violation: 0.006286719130413587
violation: 0.004087740038228715
violation: 0.0028094900624516875
violation: 0.0020977935810678264
violation: 0.0016285497995166178
violation: 0.0012939665336330842
violation: 0.0010590229660795937
violation: 0.0008869064859768568
violation: 0.0007528532898775561
violation: 0.0006685523966687774
violation: 0.0005759228412523466
violation: 0.0004996447351959798
violation: 0.0004359375365296365
violation: 0.0003838808657965991
violation: 0.0003444645562205297
violation: 0.00030541964778159434
violation: 0.0002752070911625181
violation: 0.0002484575451329636
violation: 0.00022650653974707837
violation: 0.0002057687451636564
violation: 0.00019075629703940364
violation: 0.0001772607962890574
violation: 0.00016441275432001987
violation: 0.00015523345917466006
violation: 0.0001460606866531765
violation: 0.00013572676672642193
violation: 0.00012704242970158533
violation: 0.00011965495016321359
violation: 0.0001128072919322943
violation: 0.00010700991500487278
violation: 0.00010165543194680532
violation: 9.634663311601415e-05
Converged at iteration 38

NMF(max_iter=300, n_components=2000, verbose=2)

In [56]:
Q_matrix = nmf_model.components_

In [57]:
Q_matrix.shape

(2000, 1235)

In [58]:
Q = pd.DataFrame(Q_matrix)
Q

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,0.000684,0.000000,0.000000,0.046439,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00002,0.000000,0.00000,0.0,0.000000,0.000000,0.0
1,0.014533,0.003862,0.018574,0.018158,0.015210,0.000000,0.00000,0.010680,0.0,0.030176,...,0.0,0.000071,0.0,0.00000,0.000000,0.00000,0.0,0.000003,0.000000,0.0
2,0.007163,0.000000,0.010413,0.000000,0.000000,0.000000,0.00732,0.008641,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.008318,0.00000,0.0,0.000000,0.000028,0.0
3,0.127537,0.000000,0.000000,0.010224,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
4,0.000000,0.000000,0.000000,0.175559,0.226730,0.000000,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.000472,0.000000,0.008080,0.171189,0.000000,0.266454,0.00000,0.055878,0.0,0.043055,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
1996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
1998,0.000000,0.000000,0.000000,0.000096,0.000000,0.064434,0.00000,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0
1999,0.000000,0.000000,0.030279,0.089078,0.004236,0.095181,0.00000,0.000618,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.00114,0.0,0.000000,0.000000,0.0

In [63]:
P_matrix = nmf_model.transform(R)

/Users/elizavetabugaeva/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

violation: 1.0
violation: 0.920454003527021
violation: 0.5622661244642034
violation: 0.28280224653390096
violation: 0.14588895125226148
violation: 0.08374790458677908
violation: 0.054187979920824934
violation: 0.03718388443236708
violation: 0.026690922495498193
violation: 0.018639571764861782
violation: 0.014487257399446734
violation: 0.011580556981529645
violation: 0.008843497317048643
violation: 0.00726235926017071
violation: 0.006053950332562434
violation: 0.004900081955582941
violation: 0.004152587910102046
violation: 0.0035935417858472844
violation: 0.003198184308820623
violation: 0.002884723042849456
violation: 0.0025742452340843445
violation: 0.002266853424808468
violation: 0.00197998795762114
violation: 0.0017132504961219893
violation: 0.001536527993337089
violation: 0.001384542564037297
violation: 0.0012639622696870325
violation: 0.0010920012131294787
violation: 0.0009483672653552619
violation: 0.0008879978496129058
violation: 0.0008344752334388256
violation: 0.0007681721697153267
violation: 0.0007131344288456227
violation: 0.0006621375412648785
violation: 0.0006184379713982785
violation: 0.0005736038962237463
violation: 0.0005361976867524075
violation: 0.000494988363187629
violation: 0.0004641396307735855
violation: 0.00043578917449643787
violation: 0.00040627431294534567
violation: 0.00038634604974635415
violation: 0.00036321094162055636
violation: 0.0003417680362532059
violation: 0.0003237682371943452
violation: 0.00031481440724121315
violation: 0.0002939895433190132
violation: 0.0002575615739362551
violation: 0.0002295286605520068
violation: 0.00021890802240087523
violation: 0.00020135982923041772
violation: 0.0001908661586846719
violation: 0.00018183917047761246
violation: 0.0001747512689545194
violation: 0.00016517549502611997
violation: 0.00015833307912555025
violation: 0.00015188267918969618
violation: 0.0001475788546205998
violation: 0.00014176269743973585
violation: 0.00013231287788757613
violation: 0.0001269882060295295
violation: 0.00012156045591032388
violation: 0.00011708608818727635
violation: 0.00011316845902535158
violation: 0.00010908307466557125
violation: 0.00010488139449313593
violation: 0.00010186365082314396
violation: 9.871936723504782e-05
Converged at iteration 69

In [64]:
P_matrix.shape

(610, 2000)

### Reconstruct the ratings matrix 
$\hat{R} := P\cdot Q \sim R$

In [65]:
R_hat_matrix = np.dot(P_matrix, Q_matrix)
R_hat_matrix

array([[4.00037118e+00, 4.00034034e+00, 4.00029686e+00, ...,
        1.79129741e-06, 1.31526320e-05, 2.62924534e-07],
       [1.14104967e-04, 0.00000000e+00, 9.62301217e-06, ...,
        4.84952868e-12, 6.24139476e-10, 0.00000000e+00],
       [1.04058724e-04, 5.98567669e-05, 4.60606320e-06, ...,
        5.37134150e-06, 1.88710131e-06, 2.73324272e-06],
       ...,
       [2.50321237e+00, 2.00046003e+00, 2.87572776e-02, ...,
        1.00059625e+00, 1.50035055e+00, 5.00299498e-04],
       [3.00002495e+00, 3.83993851e-11, 7.01451807e-04, ...,
        5.56344771e-11, 1.47112961e-07, 0.00000000e+00],
       [4.99999224e+00, 4.48957327e-06, 4.99996145e+00, ...,
        3.00143919e+00, 1.82562504e-05, 0.00000000e+00]])

In [66]:
R_hat_df = pd.DataFrame(
    data=R_hat_matrix
)
R_hat_df

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,4.000371,4.000340e+00,4.000297e+00,4.999770,5.000000,2.999952e+00,4.999985e+00,4.000000,4.999959e+00,5.000000e+00,...,1.219677e-04,6.085504e-05,3.411410e-11,3.189201e-08,2.804495e-04,2.729346e-07,3.469372e-06,1.791297e-06,1.315263e-05,2.629245e-07
1,0.000114,0.000000e+00,9.623012e-06,0.000000,0.000000,1.757943e-13,1.615813e-13,0.000001,0.000000e+00,5.251632e-07,...,8.619118e-11,0.000000e+00,0.000000e+00,0.000000e+00,2.658313e-09,0.000000e+00,0.000000e+00,4.849529e-12,6.241395e-10,0.000000e+00
2,0.000104,5.985677e-05,4.606063e-06,0.000076,0.000077,2.959752e-05,3.796609e-06,0.000098,3.880136e-05,2.041726e-04,...,4.562779e-05,6.579401e-05,9.749465e-14,1.063275e-05,9.880270e-06,6.983464e-06,3.452786e-12,5.371342e-06,1.887101e-06,2.733243e-06
3,0.001557,3.048074e-03,1.583303e-05,1.999963,0.000558,2.475425e-07,1.052256e-04,0.000572,2.108844e-12,3.016196e-04,...,6.502149e-07,2.211597e-14,0.000000e+00,4.646774e-04,1.533679e-04,1.296380e-03,3.216335e-04,1.616085e-08,5.688752e-10,1.471922e-05
4,4.000001,2.700025e-04,1.534661e-05,0.000580,4.000457,2.192428e-05,7.487948e-05,4.001516,1.285940e-04,2.233104e-04,...,0.000000e+00,0.000000e+00,0.000000e+00,4.061162e-05,3.681398e-05,2.650993e-05,5.631583e-06,2.454994e-05,2.001885e-06,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.500000,3.400264e-06,8.060930e-04,2.999943,4.500000,3.999878e+00,1.879599e-03,3.500000,1.570402e-03,2.765409e-08,...,2.256085e-07,8.868298e-05,1.482550e-05,2.053633e-04,1.747825e-05,4.005444e+00,5.181333e-06,9.012159e-05,9.993929e-04,0.000000e+00
606,4.000047,2.116350e-03,9.997953e-08,0.003845,0.000404,1.464887e-06,2.558146e-07,5.002817,1.603576e-04,0.000000e+00,...,0.000000e+00,0.000000e+00,4.722319e-07,0.000000e+00,1.885600e-04,3.028935e-08,7.496767e-06,0.000000e+00,0.000000e+00,0.000000e+00
607,2.503212,2.000460e+00,2.875728e-02,4.499712,4.500000,2.998097e+00,4.075070e-03,4.000140,5.949196e-03,3.000000e+00,...,5.448886e-02,5.003053e-01,1.666488e-10,1.005922e-03,4.494532e+00,0.000000e+00,2.505368e+00,1.000596e+00,1.500351e+00,5.002995e-04
608,3.000025,3.839939e-11,7.014518e-04,0.000005,0.014728,5.887365e-05,1.121507e-06,2.999996,2.659897e-08,2.152597e-05,...,3.612308e-07,0.000000e+00,0.000000e+00,0.000000e+00,1.757599e-05,1.545119e-05,9.864979e-06,5.563448e-11,1.471130e-07,0.000000e+00
609,4.999992,4.489573e-06,4.999961e+00,4.999440,4.000000,3.999793e+00,4.103514e-02,4.500398,2.188839e-06,9.667223e-04,...,2.075810e-05,1.881429e-06,3.998437e+00,1.196501e-07,2.854379e-03,1.564460e-03,2.499300e+00,3.001439e+00,1.825625e-05,0.000000e+00

### Calculate the error

In [67]:
nmf_model.reconstruction_err_

3.4851385305524167

### Save and load the model

In [68]:
import pickle

with open('nmf_model_week10.pkl',mode='wb') as file:
    pickle.dump(nmf_model,file)

### Model Deployment

In [69]:
with open('nmf_model_week10.pkl','rb') as file:
    loaded_model = pickle.load(file)

In [70]:
new_user_query = {
    10: 4,  # Billy Madison (1995)
    100: 3, # Bambi (1942)
    555: 3.5,  # Mortal Kombat (1995)
    756: 2,  # Inside Man (2006)
    1224: 5,  # Babe: Pig in the City (1998)
}

In [73]:
new_user_dataframe = pd.DataFrame(new_user_query,columns = df_R.columns, index = ['new user'])
new_user_dataframe

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
new user,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
new_user_imputed = new_user_dataframe.fillna(df_R.mean())

In [75]:
new_user_imputed

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
new user,1.381967,0.277869,0.659836,1.322951,1.417213,0.316393,0.142623,1.566393,0.255738,0.385246,...,0.12623,0.087705,0.118033,0.128689,0.139344,0.136885,0.098361,0.081967,0.108197,0.106557

### Create new matrixes for new users

In [76]:
P_new_user_matrix = loaded_model.transform(new_user_imputed)
P_new_user_matrix

violation: 1.0
violation: 0.7757178304053128
violation: 0.5165865599390655
violation: 0.49022209727680743
violation: 0.31458641248821617
violation: 0.31794329475469335
violation: 0.3244558136425374
violation: 0.3510086903472163
violation: 0.20361326289444706
violation: 0.24224904770868086
violation: 0.17772340294066696
violation: 0.19622136136672133
violation: 0.2714952176679524
violation: 0.2831052861466074
violation: 0.2312252353491389
violation: 0.12775399095265355
violation: 0.11545519045683797
violation: 0.13234600090460666
violation: 0.12986576112088788
violation: 0.13844027791809702
violation: 0.14484502598455992
violation: 0.14537237288548638
violation: 0.14002427119227384
violation: 0.1421460870489114
violation: 0.07559675519678313
violation: 0.0834809750917666
violation: 0.07422137590356492
violation: 0.06682559975385219
violation: 0.055672353808285495
violation: 0.049484463366625465
violation: 0.04436494930549194
violation: 0.04173962326745799
violation: 0.04099446481717805
violation: 0.03902148348999781
violation: 0.0346346564603712
violation: 0.03262207228122318
violation: 0.03072438918762534
violation: 0.028762665817447935
violation: 0.026394183141081842
violation: 0.024668350342729226
violation: 0.02339900627867521
violation: 0.021846213562074338
violation: 0.01988190821001651
violation: 0.019613508892881052
violation: 0.01905306889356364
violation: 0.01894133134140959
violation: 0.021427265955552163
violation: 0.021178375794688037
violation: 0.021020099430654842
violation: 0.0209593586549885
violation: 0.02225933080244393
violation: 0.02392441688470987
violation: 0.034381802127583454
violation: 0.030317955050715977
violation: 0.026702778776457534
violation: 0.024159435251821244
violation: 0.021525620674264202
violation: 0.018861249820645052
violation: 0.016620292729981067
violation: 0.01462817607735292
violation: 0.013145399083348244
violation: 0.011935583510444691
violation: 0.011156169598965987
violation: 0.010066444567098806
violation: 0.009159043097851843
violation: 0.00828815035041663
violation: 0.007546916173505869
violation: 0.006611194102688318
violation: 0.006219597243741847
violation: 0.006223333529089713
violation: 0.006230753450204644
violation: 0.005910951683210707
violation: 0.005525886701728643
violation: 0.005176235580585991
violation: 0.004992239104176297
violation: 0.00480547939625349
violation: 0.004592943447290521
violation: 0.00436875155624044
violation: 0.004144111974636174
violation: 0.003921047002092875
violation: 0.0037637408895491212
violation: 0.003574201111299769
violation: 0.003476858799763527
violation: 0.0032815237679259114
violation: 0.003131689746374828
violation: 0.002983952957725813
violation: 0.002851053785747975
violation: 0.0028788938679928412
violation: 0.0027545564231045653
violation: 0.00265282878510033
violation: 0.002568403045270032
violation: 0.0024778400520951024
violation: 0.0023790693912795246
violation: 0.002278601602897507
violation: 0.002173197419054895
violation: 0.0020620963421794664
violation: 0.0019456322093316623
violation: 0.001831204355639991
violation: 0.0017250689504508562
violation: 0.0016182579293340367
violation: 0.0015099415130954367
violation: 0.0014036559658803798
violation: 0.0012981702406441086
violation: 0.0011920738754570962
violation: 0.00108590808597336
violation: 0.0009830653132383224
violation: 0.0008837779431873831
violation: 0.0007883540624474323
violation: 0.0006995104782896395
violation: 0.0006517626748056508
violation: 0.000646046948964017
violation: 0.0006437999635006081
violation: 0.000665132800234472
violation: 0.0006749296672262979
violation: 0.0006677220628067194
violation: 0.0006583417611461953
violation: 0.00063163404773727
violation: 0.0006100817700869465
violation: 0.000589811165439639
violation: 0.0006231904032680761
violation: 0.0006125784046989499
violation: 0.0005994677060045387
violation: 0.0005915649699480167
violation: 0.0005839594713872126
violation: 0.0005585517100311036
violation: 0.0005352075129497209
violation: 0.0005130621670763114
violation: 0.0004897723662912877
violation: 0.0004684505110758044
violation: 0.0004473617731125724
violation: 0.0004242393085617955
violation: 0.0003999024418504491
violation: 0.00037549052895525094
violation: 0.00035132465534992843
violation: 0.00032816742306262836
violation: 0.0003057595745522432
violation: 0.00028437876063886
violation: 0.0002637831778808395
violation: 0.00025115551229694985
violation: 0.00024736530584838073
violation: 0.00024342483815379586
violation: 0.00023901724674323972
violation: 0.00023626269414601036
violation: 0.00023397941014815686
violation: 0.0002312787441641882
violation: 0.00022820179115574078
violation: 0.00022462072192053423
violation: 0.00022060178255940596
violation: 0.00021637409402212594
violation: 0.0002118888108640289
violation: 0.00020725223147864173
violation: 0.00021100048436082768
violation: 0.00022684381168464198
violation: 0.00022532227318889576
violation: 0.00021541369189028735
violation: 0.00020633938232248134
violation: 0.00019845880323957605
violation: 0.00019091575186682693
violation: 0.00018335570012606702
violation: 0.00017484911082991003
violation: 0.00016610944886753253
violation: 0.00015821850795128263
violation: 0.00016262453202197486
violation: 0.00015556317020607292
violation: 0.00014941949978053797
violation: 0.00014358585388698093
violation: 0.00013780520449620774
violation: 0.00013261255717194473
violation: 0.00012794687021699025
violation: 0.0001236833993492148
violation: 0.00011946393190129167
violation: 0.00011689899427190185
violation: 0.00011303924102768991
violation: 0.00011327114248323096
violation: 0.00011197073572490655
violation: 0.0001111877340712642
violation: 0.00016798655618660614
violation: 0.00018107498954538233
violation: 0.0001610232701709697
violation: 0.00014488226733582165
violation: 0.00013050713820947715
violation: 0.00011644580379136313
violation: 0.00010333953284906146
violation: 9.28516224085464e-05
Converged at iteration 185

array([[0.82833062, 0.48568394, 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [77]:
P_new_user_matrix.shape

(1, 2000)

In [78]:
P_new_user = pd.DataFrame(P_new_user_matrix, 
                         #columns = loaded_model.get_feature_names_out(),
                         index = ['new_user'])
P_new_user

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
new_user,0.828331,0.485684,0.0,0.309818,0.107489,0.0,0.037124,0.0,0.0,0.0,...,0.0,0.205121,0.0,0.26706,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
R_hat_new_user_matrix = np.dot(P_new_user, Q)
R_hat_new_user_matrix

array([[1.38207986, 0.27797192, 0.65983657, ..., 0.11555505, 0.09716418,
        0.1262582 ]])

In [83]:
#make dataframe
R_hat_new_user = pd.DataFrame(data=R_hat_new_user_matrix,
                         columns=df_R.columns,
                         index = ['new_user'])
R_hat_new_user

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
new_user,1.38208,0.277972,0.659837,1.325568,1.43732,0.288377,0.412611,1.56945,0.287799,0.385245,...,0.094587,0.089922,0.056459,0.20138,0.02847,0.191191,0.16397,0.115555,0.097164,0.126258

In [80]:
new_user_query.keys()

dict_keys([10, 100, 555, 756, 1224])

#### Step 4. Get a list of k-top rated movie to recommend to the new user
So which movies?

In [84]:
#filter out movies already seen
R_hat_new_user_filtered = R_hat_new_user.drop(new_user_query.keys(), axis =1)

In [85]:
R_hat_new_user_filtered.T.sort_values(by = ['new_user'], ascending=False).index.tolist()

[180,
 19,
 15,
 130,
 32,
 14,
 7,
 26,
 151,
 24,
 58,
 322,
 4,
 60,
 0,
 144,
 593,
 448,
 63,
 3,
 101,
 309,
 23,
 469,
 459,
 34,
 233,
 218,
 186,
 40,
 73,
 282,
 316,
 171,
 440,
 300,
 646,
 31,
 35,
 465,
 181,
 30,
 52,
 72,
 382,
 317,
 387,
 59,
 86,
 191,
 65,
 340,
 57,
 77,
 516,
 676,
 651,
 486,
 677,
 234,
 672,
 118,
 449,
 50,
 64,
 373,
 17,
 535,
 310,
 446,
 182,
 62,
 69,
 21,
 669,
 39,
 594,
 215,
 177,
 315,
 25,
 349,
 479,
 61,
 564,
 425,
 16,
 306,
 431,
 160,
 55,
 328,
 813,
 276,
 295,
 185,
 140,
 324,
 83,
 612,
 71,
 269,
 38,
 447,
 698,
 134,
 686,
 668,
 451,
 348,
 18,
 724,
 596,
 645,
 420,
 460,
 619,
 453,
 325,
 267,
 588,
 419,
 242,
 311,
 241,
 11,
 337,
 12,
 92,
 2,
 323,
 712,
 68,
 695,
 424,
 691,
 404,
 287,
 88,
 232,
 156,
 755,
 890,
 221,
 711,
 126,
 627,
 706,
 308,
 615,
 109,
 607,
 839,
 33,
 305,
 390,
 153,
 458,
 378,
 1062,
 472,
 188,
 393,
 228,
 457,
 618,
 75,
 239,
 426,
 342,
 256,
 66,
 380,
 702,
 649,
 67,
 1121,
 41,
 600,
 538,
 760,
 285,
 884,
 280,
 1102,
 353,
 299,
 1053,
 250,
 493,
 659,
 597,
 372,
 314,
 379,
 817,
 254,
 298,
 138,
 159,
 358,
 510,
 89,
 427,
 76,
 530,
 292,
 13,
 330,
 1001,
 463,
 113,
 484,
 450,
 601,
 674,
 943,
 422,
 124,
 139,
 529,
 989,
 499,
 95,
 495,
 924,
 474,
 344,
 423,
 1085,
 652,
 371,
 99,
 117,
 1003,
 603,
 1105,
 97,
 264,
 452,
 93,
 376,
 960,
 518,
 318,
 1041,
 507,
 462,
 509,
 471,
 719,
 259,
 1157,
 195,
 46,
 142,
 37,
 405,
 616,
 245,
 694,
 197,
 146,
 42,
 332,
 291,
 85,
 685,
 164,
 129,
 926,
 302,
 1043,
 392,
 339,
 173,
 583,
 260,
 211,
 428,
 258,
 1099,
 105,
 962,
 319,
 866,
 433,
 283,
 193,
 816,
 1093,
 950,
 56,
 681,
 641,
 733,
 28,
 307,
 735,
 759,
 237,
 262,
 331,
 539,
 6,
 190,
 217,
 1150,
 844,
 758,
 210,
 467,
 421,
 780,
 623,
 252,
 364,
 209,
 345,
 29,
 437,
 240,
 475,
 531,
 947,
 1045,
 906,
 938,
 1097,
 51,
 119,
 1163,
 279,
 400,
 940,
 179,
 107,
 568,
 747,
 9,
 81,
 823,
 1220,
 636,
 327,
 148,
 726,
 1022,
 696,
 811,
 136,
 170,
 608,
 576,
 905,
 832,
 655,
 91,
 253,
 522,
 1034,
 739,
 679,
 673,
 584,
 690,
 133,
 466,
 849,
 703,
 1091,
 517,
 198,
 401,
 412,
 150,
 1005,
 461,
 369,
 1060,
 485,
 214,
 236,
 957,
 108,
 826,
 1032,
 639,
 231,
 891,
 715,
 653,
 84,
 704,
 688,
 1145,
 801,
 536,
 1054,
 990,
 610,
 1006,
 82,
 1141,
 468,
 574,
 196,
 911,
 865,
 1038,
 626,
 894,
 1109,
 329,
 592,
 157,
 1132,
 549,
 1025,
 456,
 183,
 189,
 490,
 1158,
 44,
 842,
 893,
 389,
 152,
 638,
 614,
 1033,
 658,
 604,
 705,
 1046,
 542,
 752,
 1084,
 54,
 346,
 158,
 213,
 900,
 500,
 513,
 1222,
 845,
 362,
 335,
 381,
 229,
 301,
 721,
 135,
 874,
 563,
 785,
 414,
 738,
 762,
 732,
 880,
 871,
 293,
 731,
 347,
 359,
 656,
 455,
 384,
 682,
 169,
 968,
 1178,
 1098,
 112,
 511,
 525,
 617,
 1193,
 442,
 647,
 598,
 875,
 578,
 1115,
 553,
 162,
 235,
 374,
 79,
 959,
 506,
 22,
 1090,
 1035,
 648,
 286,
 281,
 508,
 727,
 402,
 687,
 249,
 856,
 352,
 680,
 27,
 634,
 512,
 505,
 558,
 1195,
 791,
 944,
 167,
 937,
 435,
 528,
 391,
 227,
 53,
 1108,
 290,
 582,
 889,
 360,
 201,
 149,
 697,
 5,
 313,
 8,
 954,
 1120,
 693,
 809,
 861,
 415,
 770,
 820,
 226,
 1128,
 1207,
 675,
 810,
 206,
 1190,
 956,
 1111,
 812,
 1017,
 714,
 774,
 454,
 939,
 1,
 541,
 766,
 436,
 410,
 716,
 1087,
 928,
 429,
 128,
 840,
 620,
 963,
 395,
 556,
 350,
 783,
 470,
 521,
 557,
 767,
 1166,
 36,
 566,
 243,
 822,
 745,
 901,
 204,
 20,
 225,
 589,
 748,
 1075,
 501,
 1067,
 175,
 935,
 819,
 1174,
 1149,
 605,
 115,
 591,
 718,
 740,
 958,
 642,
 143,
 265,
 491,
 121,
 496,
 838,
 896,
 212,
 74,
 876,
 729,
 717,
 664,
 611,
 570,
 743,
 554,
 200,
 80,
 178,
 613,
 882,
 386,
 908,
 757,
 602,
 561,
 432,
 846,
 502,
 1058,
 868,
 1216,
 1000,
 567,
 270,
 860,
 397,
 266,
 942,
 788,
 881,
 482,
 827,
 999,
 654,
 1018,
 45,
 579,
 408,
 976,
 1051,
 988,
 1068,
 628,
 1107,
 858,
 441,
 1151,
 438,
 417,
 365,
 1092,
 1161,
 955,
 480,
 110,
 980,
 933,
 808,
 606,
 1077,
 897,
 248,
 439,
 141,
 995,
 945,
 853,
 354,
 272,
 288,
 787,
 728,
 667,
 370,
 799,
 825,
 934,
 777,
 632,
 296,
 192,
 394,
 1029,
 43,
 722,
 621,
 154,
 257,
 1089,
 398,
 1069,
 207,
 552,
 751,
 580,
 847,
 587,
 684,
 430,
 946,
 1088,
 559,
 1155,
 987,
 782,
 772,
 795,
 1203,
 550,
 821,
 377,
 274,
 194,
 1184,
 294,
 1014,
 913,
 622,
 1126,
 383,
 122,
 769,
 879,
 545,
 920,
 1021,
 870,
 411,
 534,
 246,
 624,
 771,
 790,
 970,
 1036,
 742,
 1173,
 807,
 1180,
 303,
 793,
 1064,
 1200,
 540,
 764,
 333,
 678,
 798,
 831,
 1219,
 744,
 147,
 321,
 1201,
 1002,
 464,
 912,
 983,
 936,
 834,
 47,
 699,
 1215,
 123,
 665,
 851,
 230,
 709,
 1083,
 1228,
 781,
 737,
 268,
 929,
 1125,
 187,
 1202,
 1079,
 547,
 720,
 1148,
 98,
 1176,
 1015,
 571,
 96,
 1052,
 1081,
 883,
 857,
 1057,
 830,
 1040,
 176,
 87,
 478,
 326,
 116,
 375,
 761,
 519,
 385,
 763,
 278,
 1080,
 527,
 1074,
 131,
 796,
 1230,
 1082,
 483,
 662,
 255,
 544,
 498,
 473,
 585,
 70,
 899,
 1124,
 862,
 1013,
 644,
 1169,
 1133,
 569,
 836,
 388,
 971,
 953,
 1016,
 284,
 103,
 161,
 443,
 630,
 964,
 1114,
 828,
 984,
 776,
 741,
 487,
 1056,
 1039,
 355,
 635,
 1221,
 543,
 1186,
 1065,
 1197,
 219,
 1101,
 746,
 1139,
 1012,
 166,
 1217,
 768,
 1196,
 336,
 581,
 1146,
 1116,
 792,
 1019,
 104,
 985,
 869,
 952,
 416,
 1177,
 663,
 863,
 633,
 271,
 824,
 670,
 631,
 1140,
 888,
 734,
 895,
 965,
 916,
 172,
 599,
 523,
 137,
 923,
 477,
 948,
 524,
 1198,
 565,
 975,
 205,
 399,
 629,
 951,
 595,
 275,
 982,
 643,
 710,
 907,
 1231,
 859,
 413,
 481,
 1213,
 1185,
 1095,
 848,
 833,
 1187,
 707,
 657,
 492,
 174,
 367,
 713,
 263,
 1094,
 1027,
 546,
 165,
 925,
 660,
 1210,
 562,
 1131,
 750,
 1118,
 49,
 941,
 532,
 548,
 575,
 1103,
 991,
 803,
 444,
 1204,
 1138,
 1136,
 114,
 1147,
 730,
 1037,
 904,
 1172,
 1142,
 640,
 786,
 967,
 1026,
 998,
 779,
 1123,
 520,
 297,
 320,
 106,
 666,
 1010,
 334,
 1211,
 997,
 1028,
 1127,
 805,
 1004,
 312,
 852,
 368,
 573,
 1023,
 551,
 753,
 1171,
 ...]

In [86]:
ranked = R_hat_new_user_filtered.T.sort_values(by = ['new_user'], ascending=False).index.tolist()
ranked

[180,
 19,
 15,
 130,
 32,
 14,
 7,
 26,
 151,
 24,
 58,
 322,
 4,
 60,
 0,
 144,
 593,
 448,
 63,
 3,
 101,
 309,
 23,
 469,
 459,
 34,
 233,
 218,
 186,
 40,
 73,
 282,
 316,
 171,
 440,
 300,
 646,
 31,
 35,
 465,
 181,
 30,
 52,
 72,
 382,
 317,
 387,
 59,
 86,
 191,
 65,
 340,
 57,
 77,
 516,
 676,
 651,
 486,
 677,
 234,
 672,
 118,
 449,
 50,
 64,
 373,
 17,
 535,
 310,
 446,
 182,
 62,
 69,
 21,
 669,
 39,
 594,
 215,
 177,
 315,
 25,
 349,
 479,
 61,
 564,
 425,
 16,
 306,
 431,
 160,
 55,
 328,
 813,
 276,
 295,
 185,
 140,
 324,
 83,
 612,
 71,
 269,
 38,
 447,
 698,
 134,
 686,
 668,
 451,
 348,
 18,
 724,
 596,
 645,
 420,
 460,
 619,
 453,
 325,
 267,
 588,
 419,
 242,
 311,
 241,
 11,
 337,
 12,
 92,
 2,
 323,
 712,
 68,
 695,
 424,
 691,
 404,
 287,
 88,
 232,
 156,
 755,
 890,
 221,
 711,
 126,
 627,
 706,
 308,
 615,
 109,
 607,
 839,
 33,
 305,
 390,
 153,
 458,
 378,
 1062,
 472,
 188,
 393,
 228,
 457,
 618,
 75,
 239,
 426,
 342,
 256,
 66,
 380,
 702,
 649,
 67,
 1121,
 41,
 600,
 538,
 760,
 285,
 884,
 280,
 1102,
 353,
 299,
 1053,
 250,
 493,
 659,
 597,
 372,
 314,
 379,
 817,
 254,
 298,
 138,
 159,
 358,
 510,
 89,
 427,
 76,
 530,
 292,
 13,
 330,
 1001,
 463,
 113,
 484,
 450,
 601,
 674,
 943,
 422,
 124,
 139,
 529,
 989,
 499,
 95,
 495,
 924,
 474,
 344,
 423,
 1085,
 652,
 371,
 99,
 117,
 1003,
 603,
 1105,
 97,
 264,
 452,
 93,
 376,
 960,
 518,
 318,
 1041,
 507,
 462,
 509,
 471,
 719,
 259,
 1157,
 195,
 46,
 142,
 37,
 405,
 616,
 245,
 694,
 197,
 146,
 42,
 332,
 291,
 85,
 685,
 164,
 129,
 926,
 302,
 1043,
 392,
 339,
 173,
 583,
 260,
 211,
 428,
 258,
 1099,
 105,
 962,
 319,
 866,
 433,
 283,
 193,
 816,
 1093,
 950,
 56,
 681,
 641,
 733,
 28,
 307,
 735,
 759,
 237,
 262,
 331,
 539,
 6,
 190,
 217,
 1150,
 844,
 758,
 210,
 467,
 421,
 780,
 623,
 252,
 364,
 209,
 345,
 29,
 437,
 240,
 475,
 531,
 947,
 1045,
 906,
 938,
 1097,
 51,
 119,
 1163,
 279,
 400,
 940,
 179,
 107,
 568,
 747,
 9,
 81,
 823,
 1220,
 636,
 327,
 148,
 726,
 1022,
 696,
 811,
 136,
 170,
 608,
 576,
 905,
 832,
 655,
 91,
 253,
 522,
 1034,
 739,
 679,
 673,
 584,
 690,
 133,
 466,
 849,
 703,
 1091,
 517,
 198,
 401,
 412,
 150,
 1005,
 461,
 369,
 1060,
 485,
 214,
 236,
 957,
 108,
 826,
 1032,
 639,
 231,
 891,
 715,
 653,
 84,
 704,
 688,
 1145,
 801,
 536,
 1054,
 990,
 610,
 1006,
 82,
 1141,
 468,
 574,
 196,
 911,
 865,
 1038,
 626,
 894,
 1109,
 329,
 592,
 157,
 1132,
 549,
 1025,
 456,
 183,
 189,
 490,
 1158,
 44,
 842,
 893,
 389,
 152,
 638,
 614,
 1033,
 658,
 604,
 705,
 1046,
 542,
 752,
 1084,
 54,
 346,
 158,
 213,
 900,
 500,
 513,
 1222,
 845,
 362,
 335,
 381,
 229,
 301,
 721,
 135,
 874,
 563,
 785,
 414,
 738,
 762,
 732,
 880,
 871,
 293,
 731,
 347,
 359,
 656,
 455,
 384,
 682,
 169,
 968,
 1178,
 1098,
 112,
 511,
 525,
 617,
 1193,
 442,
 647,
 598,
 875,
 578,
 1115,
 553,
 162,
 235,
 374,
 79,
 959,
 506,
 22,
 1090,
 1035,
 648,
 286,
 281,
 508,
 727,
 402,
 687,
 249,
 856,
 352,
 680,
 27,
 634,
 512,
 505,
 558,
 1195,
 791,
 944,
 167,
 937,
 435,
 528,
 391,
 227,
 53,
 1108,
 290,
 582,
 889,
 360,
 201,
 149,
 697,
 5,
 313,
 8,
 954,
 1120,
 693,
 809,
 861,
 415,
 770,
 820,
 226,
 1128,
 1207,
 675,
 810,
 206,
 1190,
 956,
 1111,
 812,
 1017,
 714,
 774,
 454,
 939,
 1,
 541,
 766,
 436,
 410,
 716,
 1087,
 928,
 429,
 128,
 840,
 620,
 963,
 395,
 556,
 350,
 783,
 470,
 521,
 557,
 767,
 1166,
 36,
 566,
 243,
 822,
 745,
 901,
 204,
 20,
 225,
 589,
 748,
 1075,
 501,
 1067,
 175,
 935,
 819,
 1174,
 1149,
 605,
 115,
 591,
 718,
 740,
 958,
 642,
 143,
 265,
 491,
 121,
 496,
 838,
 896,
 212,
 74,
 876,
 729,
 717,
 664,
 611,
 570,
 743,
 554,
 200,
 80,
 178,
 613,
 882,
 386,
 908,
 757,
 602,
 561,
 432,
 846,
 502,
 1058,
 868,
 1216,
 1000,
 567,
 270,
 860,
 397,
 266,
 942,
 788,
 881,
 482,
 827,
 999,
 654,
 1018,
 45,
 579,
 408,
 976,
 1051,
 988,
 1068,
 628,
 1107,
 858,
 441,
 1151,
 438,
 417,
 365,
 1092,
 1161,
 955,
 480,
 110,
 980,
 933,
 808,
 606,
 1077,
 897,
 248,
 439,
 141,
 995,
 945,
 853,
 354,
 272,
 288,
 787,
 728,
 667,
 370,
 799,
 825,
 934,
 777,
 632,
 296,
 192,
 394,
 1029,
 43,
 722,
 621,
 154,
 257,
 1089,
 398,
 1069,
 207,
 552,
 751,
 580,
 847,
 587,
 684,
 430,
 946,
 1088,
 559,
 1155,
 987,
 782,
 772,
 795,
 1203,
 550,
 821,
 377,
 274,
 194,
 1184,
 294,
 1014,
 913,
 622,
 1126,
 383,
 122,
 769,
 879,
 545,
 920,
 1021,
 870,
 411,
 534,
 246,
 624,
 771,
 790,
 970,
 1036,
 742,
 1173,
 807,
 1180,
 303,
 793,
 1064,
 1200,
 540,
 764,
 333,
 678,
 798,
 831,
 1219,
 744,
 147,
 321,
 1201,
 1002,
 464,
 912,
 983,
 936,
 834,
 47,
 699,
 1215,
 123,
 665,
 851,
 230,
 709,
 1083,
 1228,
 781,
 737,
 268,
 929,
 1125,
 187,
 1202,
 1079,
 547,
 720,
 1148,
 98,
 1176,
 1015,
 571,
 96,
 1052,
 1081,
 883,
 857,
 1057,
 830,
 1040,
 176,
 87,
 478,
 326,
 116,
 375,
 761,
 519,
 385,
 763,
 278,
 1080,
 527,
 1074,
 131,
 796,
 1230,
 1082,
 483,
 662,
 255,
 544,
 498,
 473,
 585,
 70,
 899,
 1124,
 862,
 1013,
 644,
 1169,
 1133,
 569,
 836,
 388,
 971,
 953,
 1016,
 284,
 103,
 161,
 443,
 630,
 964,
 1114,
 828,
 984,
 776,
 741,
 487,
 1056,
 1039,
 355,
 635,
 1221,
 543,
 1186,
 1065,
 1197,
 219,
 1101,
 746,
 1139,
 1012,
 166,
 1217,
 768,
 1196,
 336,
 581,
 1146,
 1116,
 792,
 1019,
 104,
 985,
 869,
 952,
 416,
 1177,
 663,
 863,
 633,
 271,
 824,
 670,
 631,
 1140,
 888,
 734,
 895,
 965,
 916,
 172,
 599,
 523,
 137,
 923,
 477,
 948,
 524,
 1198,
 565,
 975,
 205,
 399,
 629,
 951,
 595,
 275,
 982,
 643,
 710,
 907,
 1231,
 859,
 413,
 481,
 1213,
 1185,
 1095,
 848,
 833,
 1187,
 707,
 657,
 492,
 174,
 367,
 713,
 263,
 1094,
 1027,
 546,
 165,
 925,
 660,
 1210,
 562,
 1131,
 750,
 1118,
 49,
 941,
 532,
 548,
 575,
 1103,
 991,
 803,
 444,
 1204,
 1138,
 1136,
 114,
 1147,
 730,
 1037,
 904,
 1172,
 1142,
 640,
 786,
 967,
 1026,
 998,
 779,
 1123,
 520,
 297,
 320,
 106,
 666,
 1010,
 334,
 1211,
 997,
 1028,
 1127,
 805,
 1004,
 312,
 852,
 368,
 573,
 1023,
 551,
 753,
 1171,
 ...]

In [87]:
recommended = ranked[:3]
recommended

[180, 19, 15]

### Next steps: 
- convert the above to function 
- make it spit movieIds mapped to movie names

#### Example: Baseline Recommender

In [ ]:
def recommend_popular(query, ratings, k=10):
    rated_movies = set(query.keys())
    recommendations = ratings[ratings.index.isin(rated_movies)].sort_values(by='rating', ascending=False).head(k)
    recommended_movies = movies[movies['movieId'].isin(recommendations.index)]
    return recommended_movies[['movieId', 'title']].values.tolist()


# Usage example:
user_query = {12: 5, 234: 1, 567: 4.5}
recommended_movies = recommend_popular(user_query, ratings, k=10)
recommended_movies

[[12, 'Dracula: Dead and Loving It (1995)'],
 [234, 'Exit to Eden (1994)'],
 [567, 'Kika (1993)']]

In [98]:
def recommend_nmf(query, model, k=10):
    """
    Filters and recommends the top k movies for any given input query based on a trained NMF model. 
    Returns a list of k movie ids.
    """
    
    # 1. construct new_user-item dataframe given the query
    rated_movies = set(query.keys())
    recommendations = ratings[ratings.index.isin(rated_movies)].sort_values(by='rating', ascending=False).head(k)
    new_user_dataframe = pd.DataFrame(new_user_query,columns = df_R.columns, index = ['new user'])
    new_user_imputed = new_user_dataframe.fillna(df_R.mean())

    # 2. scoring
    # calculate the score with the NMF model
    P_new_user_matrix = model.transform(new_user_imputed)
    Q_matrix = model.components_
    R_hat_new_user_matrix = np.dot(P_new_user_matrix, Q_matrix)
    
    # 3. Ranking
    # Filter out movies already seen by the user
    R_hat_new_user_filtered = pd.DataFrame(R_hat_new_user_matrix, columns=df_R.columns)
    R_hat_new_user_filtered = R_hat_new_user_filtered.loc[:, ~R_hat_new_user_filtered.columns.isin(rated_movies)]
    
    # Return the top-k highest rated movie ids or titles
    recommended = R_hat_new_user_filtered.iloc[0].nlargest(k)
    recommended_movies = movies[movies['movieId'].isin(recommended.index)]

    return recommended_movies[['movieId', 'title']].values.tolist()

In [99]:
recommend_nmf(new_user_query, nmf_model, k=10)

violation: 1.0
violation: 0.7757178304053128
violation: 0.5165865599390655
violation: 0.49022209727680743
violation: 0.31458641248821617
violation: 0.31794329475469335
violation: 0.3244558136425374
violation: 0.3510086903472163
violation: 0.20361326289444706
violation: 0.24224904770868086
violation: 0.17772340294066696
violation: 0.19622136136672133
violation: 0.2714952176679524
violation: 0.2831052861466074
violation: 0.2312252353491389
violation: 0.12775399095265355
violation: 0.11545519045683797
violation: 0.13234600090460666
violation: 0.12986576112088788
violation: 0.13844027791809702
violation: 0.14484502598455992
violation: 0.14537237288548638
violation: 0.14002427119227384
violation: 0.1421460870489114
violation: 0.07559675519678313
violation: 0.0834809750917666
violation: 0.07422137590356492
violation: 0.06682559975385219
violation: 0.055672353808285495
violation: 0.049484463366625465
violation: 0.04436494930549194
violation: 0.04173962326745799
violation: 0.04099446481717805
violation: 0.03902148348999781
violation: 0.0346346564603712
violation: 0.03262207228122318
violation: 0.03072438918762534
violation: 0.028762665817447935
violation: 0.026394183141081842
violation: 0.024668350342729226
violation: 0.02339900627867521
violation: 0.021846213562074338
violation: 0.01988190821001651
violation: 0.019613508892881052
violation: 0.01905306889356364
violation: 0.01894133134140959
violation: 0.021427265955552163
violation: 0.021178375794688037
violation: 0.021020099430654842
violation: 0.0209593586549885
violation: 0.02225933080244393
violation: 0.02392441688470987
violation: 0.034381802127583454
violation: 0.030317955050715977
violation: 0.026702778776457534
violation: 0.024159435251821244
violation: 0.021525620674264202
violation: 0.018861249820645052
violation: 0.016620292729981067
violation: 0.01462817607735292
violation: 0.013145399083348244
violation: 0.011935583510444691
violation: 0.011156169598965987
violation: 0.010066444567098806
violation: 0.009159043097851843
violation: 0.00828815035041663
violation: 0.007546916173505869
violation: 0.006611194102688318
violation: 0.006219597243741847
violation: 0.006223333529089713
violation: 0.006230753450204644
violation: 0.005910951683210707
violation: 0.005525886701728643
violation: 0.005176235580585991
violation: 0.004992239104176297
violation: 0.00480547939625349
violation: 0.004592943447290521
violation: 0.00436875155624044
violation: 0.004144111974636174
violation: 0.003921047002092875
violation: 0.0037637408895491212
violation: 0.003574201111299769
violation: 0.003476858799763527
violation: 0.0032815237679259114
violation: 0.003131689746374828
violation: 0.002983952957725813
violation: 0.002851053785747975
violation: 0.0028788938679928412
violation: 0.0027545564231045653
violation: 0.00265282878510033
violation: 0.002568403045270032
violation: 0.0024778400520951024
violation: 0.0023790693912795246
violation: 0.002278601602897507
violation: 0.002173197419054895
violation: 0.0020620963421794664
violation: 0.0019456322093316623
violation: 0.001831204355639991
violation: 0.0017250689504508562
violation: 0.0016182579293340367
violation: 0.0015099415130954367
violation: 0.0014036559658803798
violation: 0.0012981702406441086
violation: 0.0011920738754570962
violation: 0.00108590808597336
violation: 0.0009830653132383224
violation: 0.0008837779431873831
violation: 0.0007883540624474323
violation: 0.0006995104782896395
violation: 0.0006517626748056508
violation: 0.000646046948964017
violation: 0.0006437999635006081
violation: 0.000665132800234472
violation: 0.0006749296672262979
violation: 0.0006677220628067194
violation: 0.0006583417611461953
violation: 0.00063163404773727
violation: 0.0006100817700869465
violation: 0.000589811165439639
violation: 0.0006231904032680761
violation: 0.0006125784046989499
violation: 0.0005994677060045387
violation: 0.0005915649699480167
violation: 0.0005839594713872126
violation: 0.0005585517100311036
violation: 0.0005352075129497209
violation: 0.0005130621670763114
violation: 0.0004897723662912877
violation: 0.0004684505110758044
violation: 0.0004473617731125724
violation: 0.0004242393085617955
violation: 0.0003999024418504491
violation: 0.00037549052895525094
violation: 0.00035132465534992843
violation: 0.00032816742306262836
violation: 0.0003057595745522432
violation: 0.00028437876063886
violation: 0.0002637831778808395
violation: 0.00025115551229694985
violation: 0.00024736530584838073
violation: 0.00024342483815379586
violation: 0.00023901724674323972
violation: 0.00023626269414601036
violation: 0.00023397941014815686
violation: 0.0002312787441641882
violation: 0.00022820179115574078
violation: 0.00022462072192053423
violation: 0.00022060178255940596
violation: 0.00021637409402212594
violation: 0.0002118888108640289
violation: 0.00020725223147864173
violation: 0.00021100048436082768
violation: 0.00022684381168464198
violation: 0.00022532227318889576
violation: 0.00021541369189028735
violation: 0.00020633938232248134
violation: 0.00019845880323957605
violation: 0.00019091575186682693
violation: 0.00018335570012606702
violation: 0.00017484911082991003
violation: 0.00016610944886753253
violation: 0.00015821850795128263
violation: 0.00016262453202197486
violation: 0.00015556317020607292
violation: 0.00014941949978053797
violation: 0.00014358585388698093
violation: 0.00013780520449620774
violation: 0.00013261255717194473
violation: 0.00012794687021699025
violation: 0.0001236833993492148
violation: 0.00011946393190129167
violation: 0.00011689899427190185
violation: 0.00011303924102768991
violation: 0.00011327114248323096
violation: 0.00011197073572490655
violation: 0.0001111877340712642
violation: 0.00016798655618660614
violation: 0.00018107498954538233
violation: 0.0001610232701709697
violation: 0.00014488226733582165
violation: 0.00013050713820947715
violation: 0.00011644580379136313
violation: 0.00010333953284906146
violation: 9.28516224085464e-05
Converged at iteration 185

[[7, 'Sabrina (1995)'],
 [14, 'Nixon (1995)'],
 [15, 'Cutthroat Island (1995)'],
 [19, 'Ace Ventura: When Nature Calls (1995)'],
 [24, 'Powder (1995)'],
 [26, 'Othello (1995)'],
 [32, 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)'],
 [151, 'Rob Roy (1995)'],
 [180, 'Mallrats (1995)']]