In [9]:
import pandas as pd

In [10]:
# 1. read the file into a DataFrame
df = pd.read_csv('continents.csv', sep=';')

In [11]:
# 2. display the number of rows and columns
df.shape

(194, 2)

In [19]:
# 3. display the first 5 countries in the alphabet
df[0:5].sort_values(by=['country'])

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [25]:
# 4. which continent has the most countries?
df['continent'].value_counts().head(1)

Africa    54
Name: continent, dtype: int64

In [130]:

# 5. find out on which continent Cyprus is
df.loc[df['country'] == 'Cyprus']

    continent country
108    Europe  Cyprus

In [28]:
# 6. define a DataFrame with all African countries
africa = df[df['continent']=='Africa']

In [147]:
# 7. define a DataFrame with countries 80 through 100
subset = df.iloc[80:100]

   continent               country
80      Asia                 Nepal
81      Asia                  Oman
82      Asia              Pakistan
83      Asia           Philippines
84      Asia                 Qatar
85      Asia    Russian Federation
86      Asia          Saudi Arabia
87      Asia             Singapore
88      Asia             Sri Lanka
89      Asia                 Syria
90      Asia            Tajikistan
91      Asia              Thailand
92      Asia                Turkey
93      Asia          Turkmenistan
94      Asia  United Arab Emirates
95      Asia            Uzbekistan
96      Asia               Vietnam
97      Asia                 Yemen
98    Europe               Albania
99    Europe               Andorra

In [30]:
# 8. select every second country
df['country'][df.index %2 ==0]

0                       Algeria
2                         Benin
4                       Burkina
6                      Cameroon
8      Central African Republic
                 ...
184                      Brazil
186                    Colombia
188                      Guyana
190                        Peru
192                     Uruguay
Name: country, Length: 97, dtype: object